.App{
  min-height: 100vh;
  background: #232426;
  color: white;
}
.contentRow{
  padding-left: 220px;
  padding-right: 220px;
  justify-content: space-between;
}
.NavCol{
  background: #374756;
  padding-left: 10px;
  padding-bottom: 20px;
}
.MainCol{
  background: #374756;
}